<ul class="pagination">

    {% if pageNo > 1 %}
    <li class="page-item">
        <a class="page-link" href="{{ path(currentRoute, {pageNo: pageNo - 1}|merge(filters)) }}">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
        </a>
    </li>
    {% endif %}

    {% for i in range(1, nPage) %}
    <li class="page-item{% if i == pageNo %} active{% endif %}">
        <a class="page-link" href="{{ path(currentRoute, {pageNo: i}|merge(filters)) }}">{{ i }}</a>
    </li>
    {% endfor %}

    {% if pageNo < nPage %}
    <li class="page-item">
        <a class="page-link" href="{{ path(currentRoute, {pageNo: pageNo + 1}|merge(filters)) }}">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
        </a>
    </li>
    {% endif %}

</ul>
