{% extends 'BusinessDirectoryBundle::Layout/base.html.twig' %}

{% block title %}Explore {{ modelName.plural }}{% endblock %}

{% block content %}

<div class="row">

    <div class="col-md-3">
        {% include 'BusinessDirectoryBundle::Page/_filters.html.twig' %}
    </div>

    <div class="col-md-9 my-4">
        {% if nPage == 0 %}
        <br/><br/>
        <p class="h2 text-center">Nothing can be found here</p>
        {% else %}

        {% for page in pages %}
            {% include 'BusinessDirectoryBundle::Page/_inline.html.twig' %}
        {% endfor %}

        {% include 'BusinessDirectoryBundle::Page/_pagination.html.twig' %}
        {% endif %}
    </div>

</div>

{% endblock %}
